@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

:root {
  --ifm-font-family-base: Roboto;
}

.navbar {
  background: #323a40;
}

.navbar__item {
  color: #9a9da0;
  font-size: 14px;
}
